
 #analogClock {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: relative;
    console
  }
  
  #clock svg {
    position: absolute;
    animation: clockAnm 1s;
    color: aqua;
  }
  
  @keyframes clockAnm {
    from {
      transform: rotate(40deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  .clock .centerPoint {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .clock .centerPoint .sui {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: var(--darkColor-blue);
    top: -90px;
    transform-origin: bottom;
    border-radius: 10px;
  }
  
  #hour {
    height: 80px;
    top: -70px;
    background-color: var(--darkerColor-blue);
    transform: rotate(90deg);
    transition: transform 1.5s;
  }
  
  #hour::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: var(--darkerColor-blue);
    bottom: -10px;
    border-radius: 100px;
  }
  
  #minute {
    z-index: 9 !important;
    transition: transform 1.5s;
  }
  
  #minute::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: var(--darkColor-blue);
    bottom: -10px;
    border-radius: 100px;
  }
  
  #second {
    background-color: #00000000;
    transition: transform 1s;
  }
  
  #second::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--darkColor-blue);
    top: -28px;
    border-radius: 100%;
  }
  .ttteexxtt {
    position: absolute;
    bottom: 8px;
    left: 10px;
  }
  

  