
:root {
	/* ðŸ”µðŸ”µðŸ”µ */
	/* âš ï¸ Please don't change the color value or names for Blue (if ? modifying code would be difficult */
	--bg-color-blue: #bbd6fd;
	--accentLightTint-blue: #e2eeff;
	--darkerColor-blue: #3569b2;
	--darkColor-blue: #4382ec;
	--textColorDark-blue: #1b3041;
	--whitishColor-blue: #ffffff;

	/* ðŸ”´ðŸ”´ðŸ”´ */
	--bg-color-red: #fdbdbd;
	--accentLightTint-red: #ffe7e7;
	--darkerColor-red: #b23535;
	--darkColor-red: #ec4343;
	--textColorDark-red: #411b1b;
	--whitishColor-red: #ffffff;

	/* ðŸŸ¡ðŸŸ¡ðŸŸ¡ */
	--bg-color-yellow: #ffed80;
	--accentLightTint-yellow: #fff6c3;
	--darkerColor-yellow: #ae9502;
	--darkColor-yellow: #d1a93d;
	--textColorDark-yellow: #2f2707;
	--whitishColor-yellow: #ffffff;

	/* ðŸŸ¢ðŸŸ¢ðŸŸ¢ */
	--bg-color-green: #c7e4c7;
	--accentLightTint-green: #e1f1e1;
	--darkerColor-green: #458245;
	--darkColor-green: #5cba5c;
	--textColorDark-green: #1b411b;
	--whitishColor-green: #ffffff;

	/* Cyan */
	/* --bg-color-cyan: #9bffff;
    --accentLightTint-cyan: #d5ffff;
    --darkerColor-cyan: #5E9CA0;
    --darkColor-cyan: #00CED1;
    --textColorDark-cyan: #08354B; */

	--bg-color-cyan: #9cefef;
	--accentLightTint-cyan: #d5ffff;
	--darkerColor-cyan: #07787f;
	--darkColor-cyan: #09b2b4;
	--textColorDark-cyan: #08354b;
	--whitishColor-cyan: #ffffff;

	/* ðŸ©·ðŸ’—ðŸ©· */
	--bg-color-pink: #f9c8d6;
	--accentLightTint-pink: #ffebf2;
	--darkerColor-pink: #b24b64;
	--darkColor-pink: #ec5e78;
	--textColorDark-pink: #411b28;
	--whitishColor-pink: #ffffff;

	/* ðŸŸ ðŸŸ ðŸŸ  */
	--bg-color-orange: #ffd8b2;
	--accentLightTint-orange: #ffedd5;
	--darkerColor-orange: #b26d3e;
	--darkColor-orange: #ec844d;
	--textColorDark-orange: #412b1e;
	--whitishColor-orange: #ffffff;

	/* ðŸŸ£ðŸŸ£ðŸŸ£ */
	--bg-color-purple: #dac2e8;
	--accentLightTint-purple: #e9e2f3;
	--darkerColor-purple: #724b8f;
	--darkColor-purple: #9563b5;
	--textColorDark-purple: #2d1b3e;
	--whitishColor-purple: #ffffff;

	/* âšª Silver */
	--bg-color-silver: #c6c6c6;
	--accentLightTint-silver: #e5e5e5;
	--darkerColor-silver: #6f6f6f;
	--darkColor-silver: #9e9e9e;
	--textColorDark-silver: #333333;
	--whitishColor-silver: #ffffff;

	/* ðŸŸ¤ðŸŸ¤ðŸŸ¤ */
	--bg-color-brown: #dfc28d;
	--accentLightTint-brown: #eae3c9;
	--darkerColor-brown: #4e3930;
	--darkColor-brown: #705347;
	--textColorDark-brown: #16100d;
	--whitishColor-brown: #ffffff;

	/* ðŸ©¶ðŸ©¶ðŸ©¶ Grey */
	/* --bg-color-pink: #f9c8d6;
	--accentLightTint-pink: #ffebf2;
	--darkerColor-pink: #b24b64;
	--darkColor-pink: #ec5e78;
	--textColorDark-pink: #411b28;
	--whitishColor-pink: #ffffff; */


	--bg-color-grey: #ffccbf;
	--accentLightTint-grey: #fdf1ef;
	--darkerColor-grey: #f67455;
	--darkColor-grey: #9c29ba;
	--textColorDark-grey: #441730;
	--whitishColor-grey: #ffffff;


	/* âš«âš«âš« */
	--bg-color-dark: #171615;
	--accentLightTint-dark: #3c3c3c;
	--darkerColor-dark: #eeeeee;
	--darkColor-dark: #212121;
	--textColorDark-dark: #d6d6d6;
	--whitishColor-dark: #cccccc;

	/* ----------------- */

	/* Global variables */
	--gap: 30px;
	--round: 30px;

	/* Shortcut bar */
	--max-shortcut-bar-width: 60vw;
	--shortcut-bar-gap-and-padding: 10px;
	--shortcut-size: 50px;
	--always-show-dock-background: 0;
}
 #analogClock {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: relative;
    
  }
  
  #clock svg {
    position: absolute;
    animation: clockAnm 1s;
    color: aqua;
  }
  
  @keyframes clockAnm {
    from {
      transform: rotate(40deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  .clock .centerPoint {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .clock .centerPoint .sui {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: var(--darkColor-blue);
    top: -90px;
    transform-origin: bottom;
    border-radius: 10px;
  }
  
  #hour {
    height: 80px;
    top: -70px;
    background-color: var(--darkerColor-blue);
    transform: rotate(90deg);
    transition: transform 1.5s;
  }
  
  #hour::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: var(--darkerColor-blue);
    bottom: -10px;
    border-radius: 100px;
  }
  
  #minute {
    z-index: 9 !important;
    transition: transform 1.5s;
  }
  
  #minute::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: var(--darkColor-blue);
    bottom: -10px;
    border-radius: 100px;
  }
  
  #second {
    background-color: #00000000;
    transition: transform 1s;
  }
  
  #second::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--darkColor-blue);
    top: -28px;
    border-radius: 100%;
  }
  .ttteexxtt {
    position: absolute;
    bottom: 8px;
    left: 10px;
  }
  

  