@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}


::-webkit-scrollbar{
    display:none !important;
}


body{
    -ms-overflow-style: none !important;
    scrollbar-width: none;
}

.react-icons {
    background-color: #ff0000;
    color: #ff0000;
}

* {
    transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    /* z-index: 10; */
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

a {
    text-decoration: none;
}

a:after {
    display: none;
}

a::before {
    display: none;
}

Link:after {
    display: none;
}

Link::before {
    display: none;
}


/* CustomToast.css */

.Toastify__progress-bar {
    background: #ff0000;
    /* flex-wrap: ; */
    /* Change this to your desired color */
}